<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link href="/css/navbar.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="btn-group">
  <button id="add_page">ADD-DATA</button>
  <script type="text/javascript">
    document.getElementById("add_page").onclick = function () {
        location.href = "/adddata";
    };
</script>
  <button id="update_page">UPDATE-DATA</button>
  <script type="text/javascript">
    document.getElementById("update_page").onclick = function () {
        location.href = "/updatedata";
    };
</script>
  
</div>
</body>
</html>