div {
   color: white;
   background: red;
   padding: 40px;
   position: absolute;
   top: 30%;
   left: 30%;
   -ms-transform: translateX(-50%) translateY(-50%);
   -webkit-transform: translate(-50%,-50%);
   transform: translate(-50%,-50%);
 }  
 button{
   padding-left: 40px;
   padding-right:40px;
   padding-top:20px;
   padding-bottom:20px;
}

