<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Login Form</title>
      <link rel="stylesheet" href="css/login.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
   </head>
   <body>
      <div class="center">
         <div class="header">
            LOGIN FOR UNIVERSITY ADMINS
         </div>
         <form action="/login-1" method="post">
            <input type="email" placeholder="ENTER EMAIL" name="email" autocomplete="off">
            <i class="far fa-envelope"></i>
            <input id="pswrd" type="password" placeholder="ERP Number" name="password" autocomplete="off">
            <i class="fas fa-lock" onclick="show()"></i>
            <input type="submit" value="Sign in">
            
         </form>
      </div>
      <script>
         function show(){
          var pswrd = document.getElementById('pswrd');
          var icon = document.querySelector('.fas');
          if (pswrd.type === "password") {
           pswrd.type = "text";
           pswrd.style.marginTop = "20px";
           icon.style.color = "#7f2092";
          }else{
           pswrd.type = "password";
           icon.style.color = "grey";
          }
         }
      </script>
   </body>
</html>