<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!---<title> Responsive Registration Form | CodingLab </title>--->
    <link rel="stylesheet" href="css/style.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">Registration for University Admin</div>
    <div class="content">
      <form action="/register" method="post">
        <div class="user-details">
          <div class="input-box">
            <span class="details">UNIVERSITY NAME</span>
            <input type="text" placeholder="Enter your first name" required name="university_name" autocomplete="off">
          </div>
          <div class="input-box">
            <span class="details">USER NAME</span>
            <input type="text" placeholder="Enter your last name"  name="user_name" autocomplete="off">
          </div>
          <div class="input-box">
            <span class="details">EMAIL</span>
            <input type="text" placeholder="Enter your email"  name="email" autocomplete="off">
          </div>
          <div class="input-box">
            <span class="details">PASSWORD</span>
            <input type="text" placeholder="Enter your password"  name="password" autocomplete="off">
          </div>
          <div class="input-box">
            <span class="details">CONFIRM PASSWORD</span>
            <input type="text" placeholder="Confirm your password"  name="confirmpassword" autocomplete="off">
          </div>
          
        </div>
        <div class="button">
            <input type="submit" value="Register">
          </div>
      </form>
    </div>
  </div>

</body>
</html>
